body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
  margin: 0 2vmin;
}

.App-header {
  background-color: #282c34;
  width: 100vw;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.App-link {
  margin-right: 2vmin !important;
}

.App-link:last-child {
  margin-right: 4vmin !important;
}

.App-layout {
  min-height: calc(100vh - 60px);
}

.App-layout-paper {
  margin: 16px;
  min-height: calc(100vh - 97px);
}

.List {
  border: gray solid 1px;
  min-width: 300;
  min-height: 600;
}

.Row {
  min-height: 50px;
  border-bottom: gray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Row:last-child {
  border-bottom: none;
}

.Column {
  min-width: 50px;
  border-right: gray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
}

.Column:last-child {
  border-right: none;
}

.Row-reverse {
  min-height: 50px;
  border-top: gray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Row-reverse:last-child {
  border-top: none;
}

.Column-reverse {
  min-width: 50px;
  border-left: gray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  writing-mode: vertical-lr;
}

.Column-reverse:last-child {
  border-left: none;
}

.Cell {
  min-width: 135px;
  min-height: 135px;
  border-bottom: gray solid 1px;
  border-right: gray solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Cell:last-child {
  border-right: none;
}

.Grid {
  border: gray solid 1px;
  min-width: 300;
  min-height: 300;
}

.Grid-row {
  display: flex;
  flex-direction: row;
}

.Table {
  border: lightgray solid 1px;
}

.Item {
  position: relative;
}

.Item-index {
  position: absolute;
  top: 0;
  left: 0;
  color: orange;
}

.LinearProgress-container {
  min-height: 4px;
}

.VirtualizedTable {
  border: gray solid 1px;
}

.VirtualizedTable-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: gray solid 1px;
}

.VirtualizedTable-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-right: gray solid 1px;
  height: 60px;
  font-weight: 600;
}

.VirtualizedTable-header:last-child {
  border-right: none;
}

.VirtualizedTable-row>div {
  border-right: gray solid 1px;
}

.VirtualizedTable-row>div:last-child {
  border-right: none;
}
